$Very-dark-desaturated-blue: hsl(238, 29%, 16%);
$Soft-red: hsl(14, 88%, 65%);

$Soft-violet: hsl(273, 75%, 66%);
$Soft-blue: hsl(240, 73%, 65%);

$Very-dark-grayish-blue: hsl(237, 12%, 33%);
$Dark-grayish-blue: hsl(240, 6%, 50%);

$Light-grayish-blue: hsl(240, 5%, 91%);

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, $Soft-violet, $Soft-blue);
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;;

    #app {
        background-color: $Light-grayish-blue;
        margin: 0 2.5em;
        margin-top: 15em;
        margin-bottom: 7em;
        border-radius: 20px;
        padding-bottom: 3.5em;
        box-shadow: $Very-dark-desaturated-blue 0px 1.5em 3em -1em;

        .cont-img {
            text-align: center;

            .img2 {
                position: absolute;
                top: 74px;
                left: 11%;
            }

            .bg-desk, .img-desktop {
                display: none;
            }
        }

        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 2.5em;
        }

        .cont-quiz {

            .line {
                height: 1px;
                background-color: $Dark-grayish-blue;
            }

            .quiz {
                .answ {
                    height: 0px;
                    overflow: hidden;
                    transition: height ease .4s;
                }

                .ansW {
                    height: 63px;
                    transition: all ease .4s;
                }

                div {
                    margin: 0 2em;
                    display: flex;
                    justify-content: space-between;
                    color: $Dark-grayish-blue;

                    .b {
                        font-weight: 700;
                    }
    
                    input {
                        display: none;
                    }
    
                    label {
                        display: flex;
                        align-items: center;

                        &:hover {
                            cursor: pointer;
                        }

                        img {
                            transition: all ease .2s;
                        }

                        .img1 {
                            transform: rotate(180deg);
                            transition: all ease .2s;
                        }
                    }
                }
            }
        }
    }
    .flex {

        @media (min-width: 720px) {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

            #app {
                display: flex;
                align-items: center;
                width: 60vw;
                height: 70vh;
                max-height: 700px;
                margin-top: 0px;
                margin-bottom: 0px;
                padding-bottom: 0px;
                overflow: hidden;

                .cont-img, .cont-quiz {
                    flex: 1;
                }

                .cont-img {
                    overflow: hidden;
                    position: relative; 
                    height: 100%;

                    .img-mobile {
                        display: none;
                    }

                    .img-desktop, .bg-desk {
                        display: inline;
                        position: absolute;
                    }

                    .img-desktop {
                        left: -5em;
                        top: 6em;
                        width: 36em;
                    }

                    .bg-desk {
                        height: 70em;
                        left: -40em;
                        top: -21em;
                    }
                }

                .cont-quiz {
                    overflow-y: scroll;
                    max-height: 95%;

                    h1 {
                        text-align: left;
                        margin-left: .9em;
                    }
                }
            }
        }
    }
}

.attribution { font-size: 11px; text-align: center; a { color: hsl(228, 45%, 44%); } }