html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(to bottom, #af67e9, #6565e7);
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}

body #app {
  background-color: #e7e7e9;
  margin: 0 2.5em;
  margin-top: 15em;
  margin-bottom: 7em;
  border-radius: 20px;
  padding-bottom: 3.5em;
  -webkit-box-shadow: #1d1e35 0px 1.5em 3em -1em;
          box-shadow: #1d1e35 0px 1.5em 3em -1em;
}

body #app .cont-img {
  text-align: center;
}

body #app .cont-img .img2 {
  position: absolute;
  top: 74px;
  left: 11%;
}

body #app .cont-img .bg-desk, body #app .cont-img .img-desktop {
  display: none;
}

body #app h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
}

body #app .cont-quiz .line {
  height: 1px;
  background-color: #787887;
}

body #app .cont-quiz .quiz .answ {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height ease .4s;
  transition: height ease .4s;
}

body #app .cont-quiz .quiz .ansW {
  height: 63px;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}

body #app .cont-quiz .quiz div {
  margin: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #787887;
}

body #app .cont-quiz .quiz div .b {
  font-weight: 700;
}

body #app .cont-quiz .quiz div input {
  display: none;
}

body #app .cont-quiz .quiz div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #app .cont-quiz .quiz div label:hover {
  cursor: pointer;
}

body #app .cont-quiz .quiz div label img {
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

body #app .cont-quiz .quiz div label .img1 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

@media (min-width: 720px) {
  body .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  body .flex #app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60vw;
    height: 70vh;
    max-height: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    overflow: hidden;
  }
  body .flex #app .cont-img, body .flex #app .cont-quiz {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body .flex #app .cont-img {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  body .flex #app .cont-img .img-mobile {
    display: none;
  }
  body .flex #app .cont-img .img-desktop, body .flex #app .cont-img .bg-desk {
    display: inline;
    position: absolute;
  }
  body .flex #app .cont-img .img-desktop {
    left: -5em;
    top: 6em;
    width: 36em;
  }
  body .flex #app .cont-img .bg-desk {
    height: 70em;
    left: -40em;
    top: -21em;
  }
  body .flex #app .cont-quiz {
    overflow-y: scroll;
    max-height: 95%;
  }
  body .flex #app .cont-quiz h1 {
    text-align: left;
    margin-left: .9em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=index.css.map */